<?xml version="1.0"?>
<robot name="companion_trolley">

    <!-- Make colors for each section -->
    <material name="grey">
        <color rgba="0.7 0.7 0.7 1" />
    </material>

    <material name="green">
        <color rgba="0 0.6 0 0.5" />
    </material>

    <material name="white">
        <color rgba="1 1 1 1" />
    </material>

    <link name="base_footprint" />
    <joint name="base_joint" type="fixed">
        <parent link="base_footprint" />
        <child link="base_link" />
        <!-- the z value is the radius of the wheel-->
        <origin xyz="0 0 0.09" rpy="0 0 0" />
    </joint>

    <link name="base_link">
        <visual>
            <geometry>
                <!-- size=" x,  y,   z" in meters-->
                <box size="0.443 0.40 0.86" />
            </geometry>
            <!-- origin tells the robot to move xyz or roll, pitch, yaw (in radians)-->
            <origin xyz="0 0 0.43" rpy="0 0 0" />
            <material name="green" />
        </visual>
    </link>

    <!-- LiDAR -->
    <link name="lidar_link">
        <visual>
            <geometry>
                <cylinder radius="0.02" length="0.035" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <material name="white" />
        </visual>
    </link>

    <joint name="base_lidar_joint" type="fixed">
        <parent link="base_link" />
        <child link="lidar_link" />
        <!-- Origin for lidar set 165cm off ground and the x is half the box x value minus the distance the lidar is from the back-->
        <origin xyz="-0.1415 0 0.165" rpy="0 0 0" />
    </joint>

    <!-- IMU -->
    <link name="imu_link">
        <visual>
            <geometry>
                <box size=".02 .025 .001" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <material name="white" />
        </visual>
    </link>

    <joint name="base_IMU_joint" type="fixed">
        <parent link="base_link" />
        <child link="imu_link" />
        <origin xyz="0.1765 0.01 0.05" rpy="0 0 0" />
    </joint>

    <!-- Left Wheel -->
        <link name="left_wheel">
        <visual>
            <geometry>
                <cylinder radius="0.09" length="0.035" />
            </geometry>
            <!-- x is changed 90 degrees in radians to fix shape of wheel-->
            <origin xyz="0 0 0" rpy="1.57 0 0" />
            <material name="white" />
        </visual>
    </link>

    <joint name="base_left_wheel_joint" type="fixed">
        <parent link="base_link" />
        <child link="left_wheel" />
        <!-- Y value moves wheel to edge of robot -->
        <origin xyz="0 0.2175 0" rpy="0 0 0" />
    </joint>

    <!-- Right Wheel -->
    <link name="right_wheel">
        <visual>
            <geometry>
                <cylinder radius="0.09" length="0.035" />
            </geometry>
            <!-- x is changed 90 degrees in radians to fix shape of wheel-->
            <origin xyz="0 0 0" rpy="1.57 0 0" />
            <material name="white" />
        </visual>
    </link>

    <joint name="base_right_wheel_joint" type="fixed">
        <parent link="base_link" />
        <child link="right_wheel" />
        <!-- Y value moves wheel to edge of robot -->
        <origin xyz="0 -0.2175 0" rpy="0 0 0" />
    </joint>

    <!-- Caster Wheel Front Right -->
    <link name="caster_wheel_FR">
        <visual>
            <geometry>
                <!-- Radius is half the radius of the wheel -->
                <sphere radius="0.045" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="white" />
        </visual>
    </link>

    <joint name="base_caster_wheel_FR_joint" type="fixed">
        <parent link="base_link" />
        <child link="caster_wheel_FR" />
        <origin xyz="0.1765 -0.155 -0.045" rpy="0 0 0" />
    </joint>

    <!-- Caster Wheel Front Left -->
    <link name="caster_wheel_FL">
        <visual>
            <geometry>
                <!-- Radius is half the radius of the wheel -->
                <sphere radius="0.045" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="white" />
        </visual>
    </link>

    <joint name="base_caster_wheel_FL_joint" type="fixed">
        <parent link="base_link" />
        <child link="caster_wheel_FL" />
        <origin xyz="0.1765 0.155 -0.045" rpy="0 0 0" />
    </joint>

    <!-- Caster Wheel Back Right -->
    <link name="caster_wheel_BR">
        <visual>
            <geometry>
                <!-- Radius is half the radius of the wheel -->
                <sphere radius="0.045" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="white" />
        </visual>
    </link>

    <joint name="base_caster_wheel_BR_joint" type="fixed">
        <parent link="base_link" />
        <child link="caster_wheel_BR" />
        <origin xyz="-0.1765 -0.155 -0.045" rpy="0 0 0" />
    </joint>

    <!-- Caster Wheel Back Left -->
    <link name="caster_wheel_BL">
        <visual>
            <geometry>
                <!-- Radius is half the radius of the wheel -->
                <sphere radius="0.045" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="white" />
        </visual>
    </link>

    <joint name="base_caster_wheel_BL_joint" type="fixed">
        <parent link="base_link" />
        <child link="caster_wheel_BL" />
        <origin xyz="-0.1765 0.155 -0.045" rpy="0 0 0" />
    </joint>
</robot>